body {
    font-family: "Avenir", "Lucida Grande", sans-serif;
}

.node-config {
    border: 1px solid darkgray;
    border-radius: 5px;
    display: inline-block;
    margin: 0.5em;
    padding: 1em;
    padding-top: 2.5em;
    position: relative;
    width: 300px;
}

.node-head {
    background-color: steelblue;
    color: white;
    text-align: right;
    padding: 0.2em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.node-name {
    font-weight: 500;
}
